# Presentation on Rapid Threat Model Prototyping
18q08.aug.Rapid Threat Model Prototyping.pptx

# All documents are covered by a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
